* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadbd5;

}

.main-container {
    overflow: hidden;
    display: flex;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    flex-grow: 1;
    box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 1);
    border-radius: 5px;

    .mc-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 380px;
        background-color: red;

        header {
            display: flex;
            justify-content: space-between;
            background-color: #eeeeee;
            padding: 15px;

            img {
                width: 50px;
                border-radius: 50px;
            }

            .icons {
                display: flex;
                font-size: 20px;
                align-items: center;
                color: #767676;
                column-gap: 15px;
            }


        }

        .search {

            .lupa{
                color: #767676;
                
            }
            background-color: #ffffff;
            display: flex;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #eee;
            column-gap: 15px;

            input {
                flex: 1;
                padding: 8px;
                border: 0;
                outline: 0;
            }
        }

        .users {
            background-color: #ffffff;
            flex: 1;
        }

        .users-container {
            flex: 1;
            background-color: #ffffff;

            .user {
                padding: 15px;
                display: flex;
                justify-content: space-between;

                &:hover {
                    background-color: #f1f1f1;
                    cursor: pointer;
                }

                .date {
                    display: flex;
                    align-items: center;
                }

                .image-infos {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;

                    img {
                        width: 50px;
                        border-radius: 50px;
                        height: 50px;
                    }

                    .infos {

                        .name {
                            font-weight: 700;

                        }

                        .message {
                            color: 666;
                            font-size: 14px;

                        }



                    }






                }

                .date {
                    align-items: center;
                    font-size: 14px;
                    display: flex;
                    color: #666;

                }
            }
        }
    }

    .mc-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        background-color: green;

        header {
            display: flex;
            justify-content: space-between;
            background-color: #eeeeee;
            padding: 15px;

            .icons {
                display: flex;
                font-size: 20px;
                align-items: center;
                color: #767676;
                column-gap: 15px;
            }

            .image-infos {
                display: flex;
                align-items: center;
                column-gap: 8px;

                img {
                    width: 50px;
                    border-radius: 50px;
                    height: 50px;
                }

                .infos {
                    .name {
                        font-weight: 700;
                    }

                    .message {
                        color: 666;
                        font-size: 14px;
                    }
                }

            }

        }

        .messages-container {
            background-color: #e3dbd8;
            padding: 15px;
            flex: 1;

            .date {
                display: flex;
                justify-content: center;

                span {
                    background-color: #e8f1f9;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 5px;
                }

            }

            .message {
                margin-top: 10px;
                display: flex;

                span {
                    display: inline-block;
                    padding: 10px 10px 22px 10px;
                    border-radius: 5px;
                    background-color: #ffffff;
                    max-width: 280px;
                    min-width: 100px;
                    word-break: break-word;
                    position: relative;

                    &::after {
                        content: attr(data-time);
                        font-size: 13px;
                        color: #767676;
                        position: absolute;
                        bottom: 4px;
                        right: 10px;
                    }
                }
            }

            .message.message-right {
                justify-content: flex-end;

                span {
                    background-color: #e1ffc4;
                }

            }
        }

        footer {
            display: flex;
            padding: 15px;
            background-color: #eee;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;

            .icon{
                color: #767676;
            }

            input {
                flex: 1;
                padding: 8px;
                border: 0;
                outline: 0;
            }
        }
    }
}