* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dadbd5;
}

.main-container {
    display: flex;
    height: 90%;
    max-width: 1000px;
    background-color: #ffffff;
}

.main-container .mc-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: red;
}

.main-container .mc-left header {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 15px;
}

.main-container .mc-left header .icons {
    display: flex;
    font-size: 35px;
    align-items: center;
    color: #767676;
    column-gap: 15px;
}

.main-container .mc-left header img {
    width: 50px;
    border-radius: 50px;
}

.main-container .mc-left .search {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    column-gap: 15px;
}

.main-container .mc-left .search input {
    flex: 1;
    padding: 8px;
    border: 0;
    outline: 0;
}

.main-container .mc-left .users {
    background-color: #ffffff;
    flex: 1;
}

.main-container .mc-left .users-container {
    flex: 1;
    background-color: #ffffff;

}

.main-container .mc-left .users-container .user {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.main-container .mc-left .users-container .user.user:hover{
background-color: #f1f1f1;
cursor: pointer;
}

.main-container .mc-left .users-container .user .date {
    display: flex;
    align-items: center;
}

.main-container .mc-left .users-container .user .image-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-container .mc-left .users-container .user .image-infos img {
    width: 50px;
    border-radius: 50px;
    height: 50px;
}
.main-container .mc-left .users-container .user .image-infos .infos{


}
.main-container .mc-left .users-container .user .image-infos .name{
font-weight: 700;

}

.main-container .mc-left .users-container .user .image-infos .message{
    color: 666;
    font-size: 14px;

}
.main-container .mc-left .users-container .user .image-infos .date{
    align-items: center;
    font-size: 14px;
    display: flex;
color: #666;

}
.main-container .mc-right {
    flex: 1;
    height: 100%;
    background-color: green;
}